/* color palette from <https://github.com/vuejs/theme> */

:root {
  --color-light-purple: #dce0ff;
  /* --color-medium-purple: #b5baed; */
  --color-dark-purple: #5763b7;
  --color-black: #181c1e;
  --color-white: #ffffff;

  --color-success: #23924f;
  --color-danger: #ca2448;

  --app-side-padding: 28px;
  --app-bottom-padding: 20px;
}
