@import './base.css';

body {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--color-light-purple);
  font-family: 'Lato', sans-serif;
  color: var(--color-black);
}

h1 {
  margin-bottom: 0;
}
