@import './base.css';

body {
  padding: 30px 7%;
  background-color: var(--color-light-purple);
  font-family: 'Lato', sans-serif;
  color: var(--color-black);
}

h1 {
  margin-bottom: 0;
  text-align: center;
  line-height: 34px;
}
